#nodeManage {
    background: white;
    min-height: 500px;
}

.gutter-example-nodemanage .ant-row > div {
    background: transparent;
    border: 0;
}

.gutter-box-nodemanage {
    text-align:left;
}

.ant-input-disabled{
    color: black;
    text-align: center;
}

.ant-input-group{
    margin: 8px;
}

#NodeManage th{
    text-align: center;
}

#NodeManage td{
    text-align: center;
}

.uploadFileDiv {
    width: 30%;
    
}

input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }